* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'system-ui', sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 240px 1fr 300px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header header"
        "sidebar main right-panel";
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #1992d4;
    /* grid-template-rows: auto auto 1fr; */
    padding: 24px;
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 2rem;
    gap: 12px;
    font-size: 1.5rem;
}

.menu {
    display: grid;
    gap: 36px;
    list-style: none;
}

.menu li {
    gap: 14px;
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.menu.top {
    margin-bottom: 3rem;
}

.menu.bottom {
    margin-top: 0;
    gap: 36px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    gap: 24px;
    padding: 16px 32px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    /* margin-bottom: 56px; */

}

.header>.top-left,
.header>.top-right {
    display: flex;
    align-items: center;
    /* gap: 24px; */
}

.header>.top-left {
    justify-content: flex-start;

}

.header>.top-right {
    justify-content: flex-end;
    gap: 30px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* font-size: 1.5rem; */
}

.large-search-bar {
    width: 1000px;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: lightgray;
    font-size: 1rem;
}

.profile {
    gap: 24px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.profile img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.profile small {
    font-size: 0.8rem;
}

.header>.top-bottom {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bottom>.profile img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.top-bottom-right {
    display: flex;
    margin-left: auto;
    gap: 12px;
    align-items: center;
}

.top-bottom-right button {
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    background-color: #1992d4;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.notification {
    cursor: pointer;
    font-size: 1.3rem;
}

.main {
    background-color: #e9eef5;
    padding: 20px;
    grid-area: main;
}

.main>h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.projects {
    background-color: #e9eef5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.projects .card {
    /* font-size: 1rem; */
    background-color: #ffffff;
    padding: 24px 20px 56px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: orange;
    border-radius: 10px 0 0 10px;
}

.projects .card-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
    /* margin-bottom: 24px; */
}

.card p {
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 60ch;
    color: #4b5563;
}

.card-actions {
    position: absolute;
    bottom: 24px;
    right: 24px;
    display: flex;
    gap: 18px;
}

.card-actions span {
    font-size: 1.1rem;
    color: #4b5563;
    cursor: pointer;
}

.card-actions span:hover {
    color: #111827;
}

.right-panel {
    grid-area: right-panel;
    background-color: #e9eef5;
    padding: 20px;
}

.right-panel>h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.announcement-box {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.announcement-box h4 {
    font-size: 1rem;
    font-weight: 700;
}

.announcement-box p {
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 60ch;
    color: #4b5563;
}

.divider {
    height: 1px;
    background-color: #e9eef5;
    margin: 12px 0;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trending h3 {
    margin: 26px 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.trending-box {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.trending-box>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.trend-text {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.trend-text strong {
    font-weight: 600;
}

.trend-text span {
    font-size: 0.8rem;
    color: #4b5563;
}

.trending-item-avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    /* object-fit: cover; */
}